@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* CSS HARD RESET */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------- */

/* Variables */

/* Colors */

$primary-light: #f1eee5;
$primary-neutral: rgb(155, 155, 155);
$primary-neutral-opacity: rgba(155, 155, 155, 0.212);
$primary-dark: rgb(51, 51, 51);

$secondary-clr-1: rgb(60, 77, 62);

/* Font */

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* Misc */

$component-margin: 2rem 0;
