@import '../../universal.scss';

.newsletter {

    margin: $component-margin;
    text-transform: capitalize;

    .text {
        width: 80%;
        height: 5rem;
        background-color: $primary-light;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;

        button {
            padding: 0.6rem 0.9rem;
            background-color: none;
            border: 1px solid $primary-neutral;
            border-radius: 5%;
            cursor: pointer;
            font-size: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .newsletter {
        .text {
            width: 100%;
        }

        p {
            text-align: center;
        }
    }
}