@import "../../universal.scss";

.categories {
  color: $primary-dark;

  h2 {
    margin: 1rem;
    font-size: 1.75rem;
  }
  .all-items {
    width: 75%;
    height: 1500px;
    margin: 0 auto;
    background-image: url("https://i.ibb.co/rv4Vq1m/11-33-19-Cyrus-Clothing-location-social-media.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    border: 2px solid $primary-light;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50vh;

    .view-more {
      padding: 0.25rem 0.5rem;
      border: 1px solid $primary-dark;
      color: $primary-neutral;
      text-decoration: none;
      transition: 1s ease;

      &:hover {
        background: $primary-light;
        color: #000;
      }
    }
  }

  .categories-inner-container {
    margin: $component-margin;
    height: 50vh;
    display: flex;
    color: $primary-dark;

    .left {
      background-image: url("https://i.ibb.co/S6g6W3x/11-06-56-Cyrus-Clothing-location-social-media.jpg");
      background-position: 0 -5rem;
      background-size: cover;
    }

    .right {
      background-image: url("https://i.ibb.co/xYWn5m1/IMG-2730.jpg");
      background-position: 0 -16rem;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .left,
    .right,
    .all-items {
      background-repeat: no-repeat;
      flex: 1;
      border: 2px solid $primary-light;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
      }

      .view-more {
        padding: 0.25rem 0.5rem;
        border: 1px solid $primary-dark;
        color: $primary-neutral;
        text-decoration: none;
        transition: 1s ease;

        &:hover {
          background: $primary-light;
          color: #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .categories-inner-container {
    flex-direction: column;
    height: 100vh;
  }
}
