@import '../../universal.scss';

// .MuiMenuItem-root, .MuiMenuItem-root, .MuiFormControl-fullWidth {
//     font-size: 12px;
//     background-color: #000;
// }

.navbar {
    height: 10vh;
    font-size: 14px;
    background-color: $secondary-clr-1;
    color: $primary-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .left {
        display: flex;
        flex: 100%;

        .search {
            border: 1px solid $primary-light;
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
            margin-left: 2rem;

            input {
                border: none;
                background: none;
                outline: none;
                color: inherit;
            }
        }
    }

    .middle {
        flex: 100%;
        text-align: center;
        color: inherit;

        #logo {
            color: inherit;
            text-decoration: none;
        }
    }

    .right {
        flex: 100%;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;

        a {
            color: inherit;
            text-decoration: none;
        }

        .shop-icon {
            cursor: pointer;
        }

        #num {
            position: absolute;
            right: -0.3rem;
            top: 0.6rem;
            color: $primary-neutral;
            font-weight: bold;
        }
    }
}