@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
/* CSS HARD RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------- */
/* Variables */
/* Colors */
/* Font */
html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* Misc */
.nav {
  position: relative;
}

.navbar {
  height: 10vh;
  font-size: 14px;
  background-color: #3c4d3e;
  color: #F1EEE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.navbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.navbar .left #hamburger-icon {
  display: none;
}

.navbar .left .search {
  border: 1px solid #F1EEE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
  margin-left: 2rem;
}

.navbar .left .search input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

.navbar .middle {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
  color: inherit;
}

.navbar .middle #logo {
  color: inherit;
  text-decoration: none;
}

.navbar .right {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: relative;
}

.navbar .right a {
  color: inherit;
  text-decoration: none;
}

.navbar .right .shop-icon {
  cursor: pointer;
}

.navbar .right #num {
  position: absolute;
  right: -0.3rem;
  top: 0.6rem;
  color: #9b9b9b;
  font-weight: bold;
}

.hamburger {
  display: none;
  z-index: 1;
  width: 45vw;
  height: 75vh;
  position: absolute;
  top: 10vh;
  left: 0;
  background-color: #333333;
  padding-left: 2rem;
  border: 1px solid #F1EEE5;
  color: #F1EEE5;
}

.hamburger ul li {
  margin: 2rem 0;
  cursor: pointer;
}

.hamburger ul li:hover {
  text-decoration: underline;
}

.hamburger ul li .link {
  color: inherit;
  text-decoration: inherit;
}

#account-btn {
  display: none;
}

.ham-active {
  display: block;
}

.account-dropdown {
  display: none;
  z-index: 10;
  position: absolute;
  top: 4vh;
  right: 3vh;
  background-color: #333333;
  color: #F1EEE5;
  padding: 0.4rem 0.8rem;
}

.account-dropdown li {
  margin: 0.5rem 0;
}

.account-active {
  display: block;
}

@media only screen and (max-width: 800px) {
  .navbar .left {
    display: none;
  }
  .navbar .left .lang {
    display: none;
  }
  .navbar .left .search {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .navbar .left {
    display: block;
  }
  .navbar .left #hamburger-icon {
    display: block;
  }
  .navbar .right .right-nav {
    display: none;
  }
  .navbar .right #account-btn {
    display: block;
  }
}
/*# sourceMappingURL=navbar.css.map */