@import "../../universal.scss";

.products {
  height: calc(100vh - 3rem);
}

.breadcrumb {
  color: inherit;
}

.product-container {
  display: flex;
  padding: 0 5rem;
}

.product-image {
  height: 30rem;
  width: 25rem;
}

.product {
  padding: 5rem 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .product-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
  }

  .product-info-section {
    .product-desc-title {
      font-size: 1rem;
      text-decoration: underline;
    }

    .product-desc {
      font-size: 1rem;
      margin: 1rem 0;
    }

    .cart-buttons {
      width: 9rem;
      height: 2.5rem;
      cursor: pointer;
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 925px) {
  .product-container {
    padding: 0 5rem 0 0;
  }

  .product {
    padding: 5rem 0 0;
  }
}

@media only screen and (max-width: 575px) {
  .product-container {
    flex-direction: column;
    padding: 0;
    margin-bottom: 2.5rem;

    .product-image {
      max-width: 100%;
    }
  }

  .product {
    padding: 0 2.5rem;
  }
}
